In [1]:
import pandas as pd
import mysql.connector as connection
import numpy as np

In [4]:
# pip install csvkit

In [2]:
# Connect to My sql Server
connect=connection.connect(host='localhost', user='root', password='Boost123')

In [3]:
# create cursor
cursor= connect.cursor()

In [4]:
# use ineuron DB
cursor.execute('use ineuron')

In [18]:
#Task 1 - Fitbit Dataset
# 1. Read this dataset in pandas , mysql and mongodb

In [5]:
fitbit_data= pd.read_csv('FitBit data.csv')

In [6]:
fitbit_data.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [7]:
fitbit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        457 non-null    int64
 1   ActivityDate              457 non-null    object
 2   TotalSteps                457 non-null    int64
 3   TotalDistance             457 non-null    float64
 4   TrackerDistance           457 non-null    float64
 5   LoggedActivitiesDistance  457 non-null    float64
 6   VeryActiveDistance        457 non-null    float64
 7   ModeratelyActiveDistance  457 non-null    float64
 8   LightActiveDistance       457 non-null    float64
 9   SedentaryActiveDistance   457 non-null    float64
 10  VeryActiveMinutes         457 non-null    int64
 11  FairlyActiveMinutes       457 non-null    int64
 12  LightlyActiveMinutes      457 non-null    int64
 13  SedentaryMinutes          457 non-null    int64
 14  Calories                  457 non-null    int64
dtypes: float64(7), int64(7), object(1)
memory usage: 53.7+ KB

In [6]:
# 2. while creting a table in mysql dont use manual approach to create it  ,always use a automation to create a table in mysql
 ## hint - use csvkit library to automate this task and to load a data in bulk in you mysql

csvsql --db  "mysql+pymysql://root:Boost123@localhost:3306/ineuron" --tables fit_bit_data --insert Fitbit_data.csv

In [8]:
# 3. convert all the dates avaible in dataset to timestamp format in pandas 
fitbit_data['ActivityDate']= pd.to_datetime(fitbit_data['ActivityDate'])

In [9]:
# and in sql you to convert it in date format
query='''alter table fit_bit_data
Modify column ActivityDate date;'''

In [10]:
#4 . Find out in this data that how many unique id's we have 
fitbit_data['Id'].nunique()

35

In [27]:
# 5 . which id is one of the active id that you have in whole dataset 
fitbit_data.groupby('Id')['Calories'].sum().sort_values(ascending=False).head(1)

Id
4020332650    98412
Name: Calories, dtype: int64

In [62]:
# 6 . how many of them have not logged there activity find out in terms of number of ids 

fitbit_data['Id'].value_counts().loc[lambda x : x<15]

6962181067    14
2320127002    12
4558609924    12
8792009665    12
8378563200    12
8253242879    12
7086361926    12
7007744171    12
2026352035    12
5553957443    12
8877689391    12
1844505072    12
2022484408    12
2873212765    12
3977333714    12
1927972279    12
4319703577    12
8053475328    11
5577150313    11
6290855005    10
1644430081    10
6117666160    10
3372868164    10
6391747486     9
6775888955     9
2891001357     8
8583815059     8
4388161847     8
Name: Id, dtype: int64

In [28]:
# 7 . Find out who is the laziest person id that we have in dataset 
fitbit_data.groupby('Id')['Calories'].sum().sort_values().head(1)

Id
4388161847    14442
Name: Calories, dtype: int64

In [30]:
fitbit_data[fitbit_data['Id']==4388161847]

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
241,4388161847,2016-03-29,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1878
242,4388161847,2016-03-30,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1878
243,4388161847,2016-03-31,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1878
244,4388161847,2016-04-01,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1878
245,4388161847,2016-04-02,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1878
246,4388161847,2016-04-03,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1878
247,4388161847,2016-04-04,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1878
248,4388161847,2016-04-05,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,994,1296

In [37]:
#8 . Explore over an internet that how much calories burn is required for a healthy person 
#and find out how many healthy person we have in our dataset 


#As a general guideline,
#women typically burn about 2,000 calories per day and
#men burn about 2,500 calories per day.

fitbit_data[fitbit_data['Calories']>2300]['Id'].value_counts().head(5)

4020332650    29
4702921684    14
8877689391    11
8378563200    11
7007744171    11
Name: Id, dtype: int64

In [64]:
# 9. how many person are not a regular person with respect to activity try to find out those 
# let us consider that they have not looged more than 10 days
fitbit_data['Id'].value_counts().loc[lambda x : x<11]

6290855005    10
1644430081    10
6117666160    10
3372868164    10
6391747486     9
6775888955     9
2891001357     8
8583815059     8
4388161847     8
Name: Id, dtype: int64

In [66]:
# 10 . who is the thired most active person in this dataset find out those in pandas and in sql both . 
fitbit_data.groupby('Id')['Calories'].sum().sort_values(ascending=False).index[2]

4702921684

In [ ]:
query='''with abc as(select Id
,sum(Calories),
row_number() over (order by sum(Calories) desc ) as active from fit_bit_data
group by Id)

select * from abc
where active=3'''

In [65]:
# 11 . who is the 5th most laziest person avilable in dataset find it out 
fitbit_data.groupby('Id')['Calories'].sum().sort_values().index[4]

8253242879

In [57]:
# 12 . what is a totla acumulative calories burn for a person find out 

fitbit_data.groupby('Id')['Calories'].sum().sort_values(ascending=False)

Id
4020332650    98412
4057192912    60913
4702921684    42322
8877689391    41414
8378563200    40274
5577150313    36303
1503960366    34128
8053475328    31825
4445114986    31617
7007744171    31525
2347167796    30320
2022484408    29704
6962181067    29249
1644430081    29164
1927972279    27048
7086361926    26124
1624580081    25705
8792009665    24884
6775888955    24523
4319703577    23931
4558609924    21962
6290855005    21656
5553957443    21630
6117666160    20993
2873212765    20349
1844505072    19391
8583815059    19130
3372868164    18603
2320127002    18385
2891001357    18187
8253242879    17556
3977333714    16777
2026352035    16266
6391747486    15868
4388161847    14442
Name: Calories, dtype: int64